*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: grid;
    justify-content: flex-end;
}
form{width: 500px;}
.content{
    text-align: center;
}
.login-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}